.table-list-header {
	margin: 30px 20px 20px 40px;
	font-size: 25px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.button-groupDBA{
	margin-right: 40px!important;
}

.btn-approve, .btn-reapply{
	background-color: var(--theme);
	color: white;
	border: none;
	width: 70px;
	margin-right: 5px;
}

.btn-reapply {
	margin-right: 40px;
}

.btn-reject {
	background-color: gray;
	color: white;
	border: none;
	width: 70px;
	margin-right: 5px;
}

.btn-reflect {
	background-color: var(--theme);
	color: white;
	border: none;
	width: 70px;
	margin-right: 5px;
}

.btn-complete{
	background-color: gray;
	color: white;
	border: none;
	width: 70px;
	margin-right: 5px;
	pointer-events: none; 
    cursor: default; 
}

.table {
	margin: 45px !important;
	width: 1350px !important;
}

thead {
	height: 45px;
	padding: 15px 10px;
}

.table th, .table td {
	font-size: 14px;
	vertical-align: middle;
	padding: 15px 20px !important;
	height: 40px;
}

.table-primary {
	text-align: center;
	width: 160px;
	font-weight: 600;
}

.btn-sql {
	background-color: white;
	color: var(--theme);
	border: 1px solid var(--theme);
	width: 65px;
}

.btn-list {
	background-color: var(--theme);
	color: white;
	border: none;
	width: 70px;
	margin-right: 5px;
	margin-right: 60px;
}

.table-td-width {
	width: 30%;
}

.table-contents {
	padding-left: 15px;
	text-align: left;
}