.index-list-header {
  margin: 30px 20px 0 40px;
  font-size: 25px;
  font-weight: bold;
}

.form-select {
  height: 33px;
}

.schema-filter .form-select {
  width: 100px;
}

.table-column-filter .form-select {
  width: 170px;
}

.index-manage-filters {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.schema-filter-label {
  min-width: max-content;
  margin: 0 12px;
}

.schema-filter {
  display: flex;
  align-items: center;
  min-width: 200px !important;
  margin-left: 38px;
}

.table-column-filter {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.index-search-label {
  min-width: max-content !important;
  align-items: center;
}

.index-search {
  display: flex;
  width: max-content;
  margin-left: 42px;
  align-items: center;
}

.index-form input {
  width: 200px;
}

.index-table {
  padding: 10px 45px 0;
}

.table-container {
  overflow: hidden;
  height: 600px;
}

.tables-management {
  display: flex;
  justify-content: space-between;
  height: 35px;
}

.tables-management-title {
  font-size: 18px;
  font-weight: 600 !important;
}

.btn-add,
.btn-search {
  background-color: var(--theme);
  color: white;
  border: none;
  width: 50px;
  margin-right: 5px;
}

.btn-del {
  background-color: white;
  color: var(--theme);
  border: 1px solid var(--theme);
  width: 50px;
}

.table-container table {
  table-layout: fixed;
  width: 100%;
}

.table-container th:nth-child(1),
.table-container td:nth-child(1) {
  width: 3%;
}
.table-container th:nth-child(2),
.table-container td:nth-child(2) {
  width: 3%;
}
.table-container th:nth-child(3),
.table-container td:nth-child(3) {
  width: 15%;
}
.table-container th:nth-child(4),
.table-container td:nth-child(4) {
  width: 10%;
}
.table-container th:nth-child(5),
.table-container td:nth-child(5) {
  width: 15%;
}
.table-container th:nth-child(6),
.table-container td:nth-child(6) {
  width: 15%;
}
.table-container th:nth-child(7),
.table-container td:nth-child(7) {
  width: 10%;
}
.table-container th:nth-child(8),
.table-container td:nth-child(8) {
  width: 10%;
}
.table-container th:nth-child(9),
.table-container td:nth-child(9) {
  width: 10%;
}
.table-container th:nth-child(10),
.table-container td:nth-child(10) {
  width: 7%;
}
