.fw-bold {
	margin-top:30px;
	margin-bottom: 20px;
	font-size: 25px;
}

.content {
	margin-top:30px;
	margin-left:45px;
	margin-right:45px;
}

.table-container {
	margin-top:20px;
	height: 562px;
    overflow: hidden;
}

.schema-filter {
    display: flex;
    position: relative;
    align-items: center;
    min-width : 200px !important;
    margin-left: 10px;
    cursor: pointer;
}

.schema-filter-label,.table-search-label{
	min-width: 70px;
	margin:0 10px;
	text-align: right;
}

.status-filter-label{
	min-width: 30px;
	margin:0 10px;
	text-align: right;
}

.search-box form {
   width: 240px;
   margin-left: 20px;
   border-radius: 5px;
   font-size: 22px;
   position: relative;
   line-height: 22px;
}

.search-box .form-control {
  width: 240px;
}

.btn-search {
  margin-left: 15px;
  width: 60px !important;
}

.code-search-label {
	font-size: 17px !important;
}


.nav-item {
	width: 160px !important;
	text-align: center !important;
}

.nav-link {
	color: inherit !important;
}

.table-container table {
            table-layout: fixed;
            width: 100%; /* 테이블 너비를 100%로 설정 */
        }
        /* 각 열에 대한 너비 설정 */
        .table-container th:nth-child(1), .table-container td:nth-child(1) { width: 5%; }
        .table-container th:nth-child(2), .table-container td:nth-child(2) { width: 15%; }
        .table-container th:nth-child(3), .table-container td:nth-child(3) { width: 10%; }
        .table-container th:nth-child(4), .table-container td:nth-child(4) { width: 10%; }
        .table-container th:nth-child(5), .table-container td:nth-child(5) { width: 15%; }
        .table-container th:nth-child(6), .table-container td:nth-child(6) { width: 10%; }
        .table-container th:nth-child(7), .table-container td:nth-child(7) { width: 10%; }
        .table-container th:nth-child(8), .table-container td:nth-child(8) { width: 10%; }