.modal-footer {
	border: none !important;
}

.search-form input {
	width: 200px;
}

.search-form i {
	margin-left: -30px;
	z-index: 1;
	position: relative;
	top: 8px;
}

.code-search-label {
	margin: 0 20px;
}

.modal {
	--bs-modal-width: 900px !important;
}

.btn-select{
   background-color: var(--theme);
   color: white;
   border: none;
   width: 50px;
   margin-right: 5px;
}

.modal-content {
	padding: 15px;
}

.table-container {
	margin-top:20px;
	height: 400px;
    overflow-y:scroll;
}