.modal-footer {
	border: none !important;
}

.modal {
	--bs-modal-width: 700px !important;
}

.modal-content {
	padding: 15px;
}

.table-container {
	height: 400px;
    overflow: hidden;
}

/* .table-header {
	padding-left: 20px;
	height: 50px;
	font-size: 25px;
} */

.table-body {
	width: 600px;
	padding: 20px;
}