.account-applyList-title {
    font-size: 25px;
}

.btn-team {
    background-color: white;
    color: var(--theme);
    border: 1px solid var(--theme); 
    width: 100px;
    margin-right: 5px;
}

.team-add, .team-edit {
    background-color: var(--theme);
    color: white;
    border: none;
    width: 50px;
}

.team-edit:disabled {
    background-color: #ebebeb;
    color: #ffffff;
}

.btn-search {
    width: 50px !important;
}

.form-required {
    color: red;
}

.fw-bold {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 25px;
}

.content {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

.table-container {
    margin-top: 20px;
}

.filter {
    display: flex;
    position: relative;
    align-items: center;
    min-width: 200px !important;
    margin-left: 10px;
    cursor: pointer;
}

.filter-label {
    min-width: 70px;
    margin: 0 10px;
    text-align: right;
}

.status-filter-label {
    min-width: 30px;
    margin: 0 10px;
    text-align: right;
}

#statusSelect {
    margin-right: 20px;
    font-size: 1rem !important;
}

.search-box {
    width: 240px;
    margin-left: 10px;
}

.form-control, #teamIsActive {
    width: 240px !important;
}

#edit {
    width: 170px !important;
}

#searchSelect {
    width: 110px !important;
    vertical-align: middle !important;
    margin-left: 5px !important;
    margin-right: 10px !important;
}

#btn-approve {
    background-color: var(--theme);
    color: white;
    border: none;
    width: 50px;
}

#btn-reject {
    background-color: gray;
    color: white;
    border: none;
    width: 50px;
}

#status {
    margin-right: -20px;
    margin-top: 2px;
}

.modal {
    --bs-modal-width: 800px !important;
}

.modal-content {
    padding: 20px;
}

.modal-footer {
    padding-top: 20px !important;
}

.team-subtitle {
    font-size: 16px;
    font-weight: 600 !important;
}