.codeAdd-header {
  margin: 30px 20px 0 40px;
  font-size: 25px;
  font-weight: bold;
}

.code-table {
   min-width: 660px !important;
   max-width: 660px !important;
   margin: 5px 20px 20px 40px;
   height: 310px !important;
}

.codeAdd-subtitle, .itemAdd-subtitle, .item-header {
   font-size: 18px;
   font-weight: 600 !important;
   margin-left: 20px;
}

.codeAdd-subtitle {
   margin-left: 40px;
   height: 35px;
}

.item-management {
   margin: 20px 0 10px 10px;
}

.item-table {
   min-width: 660px !important;
   max-width: 660px !important;
   margin: 5px 20px;
   height: 300px !important;
}

.content-input {
   min-height: 48x !important;
   max-height: 48px !important;
}

.code-buttons {
   padding-top: 10px;
}

.item-button {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.button-group {
   display: flex;
   gap: 10px;
   margin-right: 45px;
   justify-content: flex-end;
}

.btn-load-container {
   display: flex;
   justify-content: space-between;
   margin-right: 40px;
}

.right-btn {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 10px;
   margin-right: 10px;
}

.btn-load, .btn-reset {
   background-color: white;
   color: var(--theme);
   border: 1px solid var(--theme);
   width: 70px;
}

.btn-add, .btn-update, .btn-apply {
   background-color: var(--theme);
   color: white;
   border: none;
   width: 70px;
}

.btn-update:disabled {
   background-color: #ebebeb;
   color: #ffffff;
   cursor: not-allowed;
}

#item-background {
   overflow-y: scroll;
   height: 230px !important;
}

.item-header {
   margin: 5px;
}

.item-container {
   min-width: 1360px !important;
   max-width: 1360px !important;
   margin: 0 30px 20px 40px !important;
}

.item-icon {
   display: flex;
   justify-content: space-between;
}

.index-btns button {
   border: 1px solid var(--theme);
   background: none;
   color: var(--theme);
   width: 25px;
   height: 25px;
   margin: 18px 5px 10px 0;
   padding: 0;
}

.selected {
   background-color: #d3d3d3;
}

 .item-container table th:nth-child(1),
        .item-container table td:nth-child(1) { width: 5%; }
        .item-container table th:nth-child(2),
        .item-container table td:nth-child(2) { width: 15%; } 
        .item-container table th:nth-child(3),
        .item-container table td:nth-child(3) { width: 15%; } 
        .item-container table th:nth-child(4),
        .item-container table td:nth-child(4) { width: 10%; } 
        .item-container table th:nth-child(5),
        .item-container table td:nth-child(5) { width: 10%; } 
        .item-container table th:nth-child(6),
        .item-container table td:nth-child(6) { width: 10%; } 
        .item-container table th:nth-child(7),
        .item-container table td:nth-child(7) { width: 10%; }
        .item-container table th:nth-child(8),
        .item-container table td:nth-child(8) { width: 5%; }  