.codeApplyInfo-header {
	margin: 30px 20px 0 40px;
	font-size: 25px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.button-groupDBA {
	margin-right: 20px !important;
}

.btn-approve {
	background-color: var(--theme);
	color: white;
	border: none;
	width: 70px;
	margin-right: 5px;
}

.btn-reject {
	background-color: gray;
	color: white;
	border: none;
	width: 70px;
	margin-right: 5px;
}

.btn-reflect {
	background-color: var(--theme);
	color: white;
	border: none;
	width: 70px;
	margin-right: 5px;
}

.btn-complete {
	background-color: gray;
	color: white;
	border: none;
	width: 70px;
	margin-right: 5px;
	pointer-events: none;
	cursor: default;
}

.button-groupUSER {
	margin-right:40px !important;
}

.btn-reapply{
	background-color: white;
	color: var(--theme);
	border: 1px solid var(--theme);
	width: 70px;
}

.codeApplyInfo-subtitle, .codeAdd-subtitle, .item-header {
	font-size: 18px;
	font-weight: 600 !important;
	margin-left: 20px;
}

.codeAdd-subtitle {
	margin-left: 8px;
}

.codeApplyInfo-subtitle {
	margin-left: 40px;
}

.codeApplyInfo-table {
	min-width: 660px !important;
	max-width: 660px !important;
	height: 250px;
	margin: 5px 20px 0 40px;;
}

.code-table {
	min-width: 660px !important;
	max-width: 660px !important;
	height: 250px;
	margin: 5px 40px 20px 10px;
}

.content-input {
	min-height: 120px !important;
	max-height: 120px !important;
}

.item-header {
	margin-left: 0;
}

.item-container {
	min-width: 1360px !important;
	max-width: 1360px !important;
	margin: 30px 40px 30px 40px !important;
}

#item-background {
   overflow-y: scroll;
   height: 260px !important;
}

.button-group {
	display: flex;
	gap: 10px;
	margin-right: 45px;
	justify-content: flex-end;
}

.btn-compare {
	background-color: white;
	color: var(--theme);
	border: 1px solid var(--theme);
	width: 70px;
}

.btn-list {
	background-color: var(--theme);
	color: white;
	border: none;
	width: 70px;
	margin-right: 5px;
}

#table-content {
	height: 30px;
}