@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --theme: #003567;
  --border-accent: 2px solid #111;
  --border-gray: 1px solid #e6e6e6;
  --text-black: #111111;
  --text-gray: #888;
  --box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
}

* {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: font-weight: 400;
	font-style: normal;
}

.container {
  min-width: 100% !important;
}

.row > * {
  padding: 0 !important;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

/* menu */
.menu {
  background-color: var(--theme);
  height: 100vh;
  width: 250px !important;
  position: relative;
}

p.logo {
  text-align: center;
  height: 60px;
  border-bottom: 1px solid var(--border-color);
  font-size: 22px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 2px;
}

p.logo a {
  color: white !important;
}

.menu-item,
.menu-item.active {
  color: white;
  font-size: 18px;
  line-height: 18px;
}

.menu-item.active .item {
  display: inline-block;
  background-color: white;
  color: var(--theme) !important;
}

.menu .menu-item {
  display: block;
  margin: 15px 25px;
}

.menu .menu-item a {
  color: white;
  display: inline-block;
  padding: 15px 20px;
  border-radius: 30px;
}

.menu .menu-item i {
  font-size: 20px;
}

.sub-menu {
  display: none;
}

.sub-menu.active {
  display: block;
}

.sub-menu .sub-item {
  margin-left: 25px;
}

.sub-menu .sub-item.active {
  background-color: #75829e;
  border-radius: 30px;
}

.last-item {
  padding-bottom: 0 !;
}

.logout {
  position: absolute;
  bottom: 35px;
  left: 20px;
}

/* header */
.header {
  height: 60px;
  box-shadow: var(--box-shadow);
  padding-right: 45px;
  padding-top: 10px;
}

.header .bell {
  position: relative;
  padding-top: 3px;
}

.header i {
  font-size: 25px;
}

.header .alarm {
  background-color: #dc3f3f;
  color: white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  font-size: 11px;
  text-align: center;
  line-height: 15px;
  position: absolute;
  top: 3px;
  left: 13px;
}
.profile-container {
  position: relative;
  display: inline-block;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  transition: opacity 0.3s;
  cursor: pointer;
}
.profile-container:hover .profile-img {
  opacity: 0.5;
}

.edit-icon {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px !important;
  color: white;
  cursor: pointer;
  display: none;
}

.profile-container:hover .edit-icon {
  display: block;
}

#fileInput {
  display: none;
}

.header p {
  margin: 5px 0 0;
  font-size: 16px;
  line-height: 1;
}

.header span {
  font-size: 13px;
}

.dropdown-item {
  padding: 5px 10px;
  font-size: 12px;
}


/* form-select, .form-control(input) */
.form-control, .form-select  {
	border-radius: 0 !important;
	height: 35px !important;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

/* table: 신청내역 */
.table-container {
	margin-top:15px;
    border-top: var(--border-accent) !important;
	border-bottom: var(--border-gray) !important;
	text-align:center;
}

.table thead tr {
	border-bottom: 1px solid #111 !important;
}

thead {
	height: 60px;
	position: sticky;
	top: 0;
	z-index: 1;
}

tr {
	height:50px;
}

td, th{
	font-size: 15px;
	text-align: center;
	vertical-align: middle;
} 

td {
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table.table-bordered {
	text-align:left;
}

.table-hover:hover {
  --bs-table-hover-bg: #f8f9fa !important;
}

.table-active td, .table-active th {
  --bs-table-bg-state: #f2f6f9 !important;
}

.content {
	margin-top:30px;
	margin-left:40px;
	margin-right:40px;
	font-size:16px;
}

.btn-history-details {
	background-color: white;
	color: #C5C5C5;
	border-radius: 8px;
	border: 1px solid #C5C5C5;
	width: 90px;
	height: 30px !important;
	font-size: 14px;
}

/* pager */
.page {
  margin-left: 50px;
  text-align: center !important;
  position: fixed;
  bottom: 65px;
  left: calc(50% + 25px);
  z-index: 100;
}

.pagination {
  position: fixed;
  bottom: 50px;
  left: 50%;
  z-index: 100;
}

/* 버튼 */
.btn, button {
	border-radius: 0 !important;
	height: 35px !important;
	font-size: 14px;
	text-align: center;
	
}

button[class^="swal2-"] {
    line-height: 1;
}

button:hover {
	cursor: pointer;
}

.btn-accent {
	background-color: var(--theme);
	color: white;
	border: none;
}

.btn-normal {
	border: 1px solid var(--theme);
	color: var(--theme);
	background-color: white;
}

.btn-gray {
	background-color: gray;
	color: white;
	border: none;
}

.btn-light {
	color: gray;
	background-color: white;
	border: 1px solid gray;
}

/****** 세부 설정 ******/

.fw-bold {
	margin-top:30px;
	margin-bottom: 20px;
	font-size: 25px;
}



/* 상태에 따른 color */
#status-approve {
	color: #1db868 !important;
}

#status-rejected {
	color: #DC3F3F !important;
}

#status-await{
	color: #A5A5A5 !important;
}

#status-applied{
	color: #32ADE6 !important;
}

hr {
    color: var(--border-color) !important;
}