.btn-back {
	margin: 30px 0 15px 35px;
	width: 70px;
}

.before-management{
	margin: 20px 0 0 0;
}

.table-container {
    overflow-y: scroll;
    height: 662px;
}

.before-table{
	min-width: 660px !important;
	max-width:660px !important;
	margin: 20px 20px 20px 45px;	
}

.before-management-title,.after-management-title{
	font-size:18px;
	font-weight: 600 !important;
}

.after-management{
	margin: 20px 0 10px 0;
}

.after-table{
	min-width: 660px !important;
	max-width:660px !important;
	margin: 20px;
}

tr.updated td{
	background-color: rgba(198, 211, 232, 0.2);
}
