@charset "UTF-8";

.codeApplyInfo-header {
	margin: 0 20px 0 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.button-groupDBA{
	margin-right: 20px!important;
}

.btn-approve, .btn-reject {
	width: 70px;
	margin-right: 10px;
}

.btn-list {
	width: 70px;
	margin-right: 10px;
}

.btn-processed {
	width: 80px;
	margin-right: 10px;
	text-align: center;
	height: 35px;
	font-size: 16px;
	line-height: 35px;
}

.btn-rewrite, .btn-rollback {
	width: 70px;
	margin-right: 30px;
}

.codeApplyInfo-subtitle, .codeAdd-subtitle, .item-header {
	font-size: 18px;
	font-weight: 600 !important;
	margin-left: 20px;
}

.codeApplyInfo-subtitle{
	margin-left: 40px;
}

.codeApplyInfo-table {
	min-width: 660px !important;
	max-width: 660px !important;
	height: 250px;
	margin: 0 20px 0 40px;;
}

.code-table {
	min-width: 660px !important;
	max-width: 660px !important;
	height: 250px;
	margin: 0 40px 20px 20px;
}

.content-input {
	min-height: 120px !important;
	max-height: 120px !important;
}

.item-header {
	margin: 5px;
}

.item-container {
	min-width: 1360px !important;
	max-width: 1360px !important;
	margin: 10px 40px 30px 40px !important;
}

.item-table-container {
	overflow-y: scroll;	
	height: 260px;
}

.button-group {
	display: flex;
	gap: 10px;
	margin-right: 45px;
	justify-content: flex-end;
}

.btn-compare {
	background-color: white;
	color: var(- -theme);
	border: 1px solid var(--theme);
	width: 70px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	line-height: 2.1;
}