.table-container {
	height: 562px;
	overflow: hidden;
}

.search-container {
	margin-top: 40px;
}

.btn-search {
   width: 120px !important;
   margin-left: 10px;
}

.filter {
    display: flex;
    position: relative;
    align-items: center;
    min-width : 200px !important;
    margin-left: 10px;
    cursor: pointer;
}

.filter-label {
	min-width: 70px;
	margin:0 10px;
	text-align: right;
}

.status-filter-label{
	min-width: 40px;
	margin:0 10px;
	text-align: right;
}

#statusSelect {
	margin-right: 20px;
}

.search-box form {
   width: 240px;
   margin-left: 10px;
   border-radius: 5px;
   font-size: 22px;
   position: relative;
   line-height: 22px;
}

.search-box .form-control, .form-select {
  width: 240px;
}

.search-box .search-btn {
  border: none;
  background: white;
}

.code-search-label {
	font-size: 16px !important;
}