.codeAdd-header {
  margin: 30px 20px 0 40px;
  font-size: 25px;
  font-weight: bold;
}

.code-table {
  min-width: 660px !important;
  max-width: 660px !important;
  margin: 0 20px 0 40px;
}

.codeAdd-subtitle, .itemAdd-subtitle, .item-header {
  font-size: 18px;
  font-weight: 600 !important;
  margin-left: 20px;
}

.item-header {
  margin-left: 0;
}

.codeAdd-subtitle {
  margin-left: 40px;
  height: 35px;
}

.item-subtitle {
  margin-right: 45px;
}

.item-management {
  margin: 20px 0 10px 10px;
}

.item-table {
  min-width: 660px !important;
  max-width: 660px !important;
  margin: 0 20px;
  padding: 10px;
}

.item .content-input {
  min-height: 139px !important;
  max-height: 139px !important;
}

.code-buttons {
  padding-top: 10px;
}

.item-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-right: 45px;
  justify-content: flex-end;
}

.btn-init, .btn-compare {
  width: 70px;
  margin-right: 5px;
}

.btn-compare {
  width: 100px;
}

.btn-add, .btn-edit {
  width: 70px;
  margin-right: 3px;
}

.btn-edit:disabled {
  background-color: #ebebeb;
  color: #ffffff;
}

.item-container {
  min-width: 1370px !important;
  max-width: 1370px !important;
  margin: 0 30px 20px 40px !important;
}

.item-table-container, .update-table-container {
  overflow-y: scroll;
  height: 263px;
}

.update-table-container {
  height: 213px;
}