.code-list-title {
  margin-left: 40px;
}

.code-list-filters {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 20px;
}

.code-search {
  display: flex;
  width: 350px;
  margin: 0 7px 0 0;
}

.code-search-label {
  min-width: 180px !important;
  text-align: right;
  align-items: center;
}

.search-form input {
  width: 200px;
}

.use-filter {
  display: flex;
  align-items: center;
  min-width: 200px !important;
  margin-left: 10px;
}

.use-filter-label {
  min-width: 100px;
  margin: 0 12px;
  text-align: right;
}

.code-management {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
  height: 40px;
}

.code-table {
  min-width: 660px !important;
  max-width: 660px !important;
  margin: 20px 20px 20px 45px;
}

.code-management-title, .item-management-title, .applyReason-title {
  padding-top: 15px;
  font-size: 18px;
  font-weight: 600 !important;
}

.code-buttons {
  padding-top: 10px;
}

.btn-excel, .btn-refresh, .btn-download {
  width: 120px;
  margin-right: 5px;
  height: 35px !important;
  font-size: 14px;
  text-align: center;
  line-height: 35px;
}

.btn-excel:hover {
  cursor: pointer;
}

.btn-add, .btn-search {
  width: 50px !important;
  margin-right: 5px;
}

.btn-search {
  margin-left: 15px;
  width: 120px !important;
}

.btn-download {
  width: 120px;
  line-height: 14px;
}

.btn-refresh {
  width: 60px;
  line-height: 14px;
}

.modal-btn-excel {
  width: 120px;
}

.btn-edit {
  background-color: var(--theme);
  color: white;
  border: none;
  width: 50px;
}

.item-management {
  margin: 20px 0 10px 10px;
}

.item-table {
  min-width: 660px !important;
  max-width: 660px !important;
  margin: 20px;
}

.item-table-container, .code-table-container {
  height: 560px !important;
  overflow-y: scroll;
}

.item-table-container thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.item-codeno {
  display: none;
}

.modal {
  --bs-modal-width: 1600px !important;
}

.modal-content {
  padding: 20px;
  padding-bottom: 8px;
}

.modal-footer {
  padding-top: 20px !important;
}

.modal-code-table, .modal-item-table {
  width: 800px !important;
}

.modal-code-table {
  margin-right: 40px;
}

.applyReason {
  height: 37.3px;
  width: 600px;
  border: 1px solid #dee2e6;
  padding-left: 10px;
}