@charset "UTF-8";

.codeApplyInfo-header {
	margin: 0 20px 0 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.button-groupDBA{
	margin-right: 20px!important;
}

.btn-approve, .btn-reject, .btn-list {
	width: 70px;
	margin-right: 5px;
}

.btn-rewrite, .btn-rollback {
	width: 70px;
	margin-right: 30px;
}

.btn-processed {
	width: 80px;
	margin-right: 10px;
	text-align: center;
	height: 35px;
	font-size: 16px;
	line-height: 35px;
}

.codeApplyInfo {
	max-width: 100%;
	margin: 10px 50px 50px 40px !important;
}

.codeApplyInfo-subtitle, .codeAdd-subtitle,.code-header, .item-header {
	font-size: 18px;
	font-weight: 600 !important;
	margin-left: 20px;
}

.codeApplyInfo-subtitle {
	margin: 5px;
	margin-left: 0;
}

.codeApplyInfo .table-secondary {
	width: 180px !important;
}

thead {
	height: 40px;
	padding: 15px 10px;
}

.content-input {
	min-height: 120px !important;
	max-height: 120px !important;
}

.code-header, .item-header {
	margin: 5px 5px 5px 40px;
}

.item-header {
	margin-left: 0;
}

.code-table-container, .item-table-container {
	overflow-y: scroll;	
	height: 310px;
    margin-bottom: 25px;
}
.code-table-container{
	margin-left: 40px;
}

.item-table-container {
    margin-right: 50px;
}

.button-group {
	display: flex;
	gap: 10px;
	margin-right: 45px;
	justify-content: flex-end;
}