<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="sqlSessionFactoryMain"
	class="org.mybatis.spring.SqlSessionFactoryBean">
	
		<property name="dataSource" ref="dataSourceMain"></property>
		<property name="configLocation" value="classpath:mybatis/mapper-config.xml"></property>
		<property name="mapperLocations" value="classpath:mybatis/mapper/main/*.xml"></property>
		
	</bean>
	
	<bean id="sqlSessionFactory1"
	class="org.mybatis.spring.SqlSessionFactoryBean">
	
		<property name="dataSource" ref="dataSource1"></property>
		<property name="configLocation" value="classpath:mybatis/mapper-config.xml"></property>
		<property name="mapperLocations" value="classpath:mybatis/mapper/srm/*.xml"></property>
		
	</bean>
	
	<bean id="sqlSessionFactory2"
	class="org.mybatis.spring.SqlSessionFactoryBean">
	
		<property name="dataSource" ref="dataSource2"></property>
		<property name="configLocation" value="classpath:mybatis/mapper-config.xml"></property>
		<property name="mapperLocations" value="classpath:mybatis/mapper/pms/*.xml"></property>
		
	</bean>
	
	<bean id="sqlSessionFactory3"
	class="org.mybatis.spring.SqlSessionFactoryBean">
	
		<property name="dataSource" ref="dataSource3"></property>
		<property name="configLocation" value="classpath:mybatis/mapper-config.xml"></property>
		<property name="mapperLocations" value="classpath:mybatis/mapper/hr/*.xml"></property>
		
	</bean>
	
	<bean id="sqlSessionTemplateMain"
          class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactoryMain"/>
    </bean>

    <bean id="sqlSessionTemplate1"
          class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory1"/>
    </bean>

    <bean id="sqlSessionTemplate2"
          class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory2"/>
    </bean>

    <bean id="sqlSessionTemplate3"
          class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory3"/>
    </bean>
    
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.mycompany.metamong.daoMain"/>
		<property name="sqlSessionTemplateBeanName" value="sqlSessionTemplateMain"/>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.mycompany.metamong.daoSrm"/>
		<property name="sqlSessionTemplateBeanName" value="sqlSessionTemplate1"/>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.mycompany.metamong.daoPms"/>
		<property name="sqlSessionTemplateBeanName" value="sqlSessionTemplate2"/>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.mycompany.metamong.daoHr"/>
		<property name="sqlSessionTemplateBeanName" value="sqlSessionTemplate3"/>
	</bean>
	
	<mybatis-spring:scan base-package="com.mycompany.metamong.daoMain"
		annotation = "org.apache.ibatis.annotations.Mapper"/> 
		
	<mybatis-spring:scan base-package="com.mycompany.metamong.daoSrm"
		annotation = "org.apache.ibatis.annotations.Mapper"/> 
		
	<mybatis-spring:scan base-package="com.mycompany.metamong.daoPms"
		annotation = "org.apache.ibatis.annotations.Mapper"/> 
		
	<mybatis-spring:scan base-package="com.mycompany.metamong.daoHr"
		annotation = "org.apache.ibatis.annotations.Mapper"/> 


</beans>
