.form-required {
    color: red;
}
.form-label {
    width: 8%;
    text-align: center;
    
}
.fw-bold {
    margin-top: 30px;
    margin-bottom: 20px;
}

.notice-title {
	margin-bottom: 40px;
}

.content {
    margin-top: 30px;
    margin-left: 45px;
    margin-right: 45px;
    font-size: 14px;
    
}
.container-fluid {
    padding-right: 0 !important;
}
.search-form i {
    margin-left: -25px;
    z-index: 1;
    position: relative;
    top: 8px;
}
.table {
    margin-top: 20px;
    text-align: center;
}
.table {
    border-radius: 5px !important;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}
.table.table-bordered {
    text-align: left;
}
.table th, .table td {
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}
.td detail {
    text-align: left;
}
.table-hover tbody tr {
    height: 50px;
}
.table-hover td, .table-hover th {
    padding: 15px 10px;
}
thead {
    height: 45px;
    padding: 15px 10px;
}
.pagination {
    position: fixed;
    bottom: 40px;
    left: 50%;
    z-index: 100;
}
.subtitle {
    width: 8%;
}
.btn-write {
    font-size: 14px;
    padding: 0 !important;
    margin-top: 20px;
}
.btn-write a{
   background-color: var(--theme);
    color: white;
    border-radius: 8px;
    width: max-content;
    height: 30px;
    line-height: 18px;
    padding: 8px 10px;
}
tr {
    height: 50px;
}
td, th {
    text-align: center;
    vertical-align: middle;
}
.sub {
    padding-left: 50px;
}
h4 {
    font-size: 25px;
}
.table-primary {
    width: 8%;
    text-align: center;
}
#table-contents, #author {
    text-align: left;
}

#author span {
	padding-left: 12px;
	font-size: 16px;
}
.table input, .table textarea {
	border: none;
}

.btn-add {
    background-color: var(--theme);
    color: white;
    border-radius: 8px;
    border: none;
    width: 50px;
    height: 30px;
    font-size: 14px;
    margin-top: 10px;
}

.btn-lists {
    background-color: var(--theme);
    color: white;
    border-radius: 8px;
    border: none;
    width: 50px;
    height: 30px;
    font-size: 14px;
    margin-top: 10px;
}
.btn-delete {
    background-color: white;
    color: var(--theme);
    border-radius: 8px;
    border: 1px solid var(--theme);
    width: 50px;
    height: 30px;
    font-size: 14px;
    margin-top: 10px;
}

.btn-update {
    background-color: white;
    color: var(--theme);
    border-radius: 8px;
    border: 1px solid var(--theme);
    width: 50px;
    height: 30px;
    font-size: 14px;
    margin-top: 10px;
}
.btn-cancel {
    background-color: white;
    color: var(--theme);
    border-radius: 8px;
    border: 1px solid var(--theme);
    width: 50px;
    height: 30px;
    font-size: 14px;
    margin-top: 10px;
}

.btn-list {
	background-color: #949494;
    color: white;
    border-radius: 8px;
    border: none;
    width: 50px;
    height: 30px;
    font-size: 14px;
    margin-top: 10px;
}
.page{
	text-align:center !important;
	
}
#title {
	color:black !important;
}
#detailContents {
	height:300px;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}
#noticeContentTd {
	text-align:left;
}
#tdth{
	vertical-align:middle;
}
#existingFile {
	text-align:left;
}