@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
	font-family: "Montserrat", sans-serif;
	font-weight: font-weight: 400;
	font-style: normal;
}

.modal button {
	border-radius: 0 !important;
}

.container {
    min-height: 100vh;
    min-width: 100%;
}

.row {
    min-height: 100vh;
}

.main-area {
    height: 100vh;
}

.main-img {
	height: 100vh;
}

.login-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
	margin-left: 100px;
    padding: 40px 30px 40px 50px;
    width: max-content;
    justify-content: center;
    align-items: center; 
    text-align: left; 
 	background-color: white;
 	border-radius: 10px;
 	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

#loginForm p,.input-label {
    color: #999999;
}

.login-header{
	margin-bottom: 40px;
}

.login-header h3{
	font-size: 30px;
	color: #003567;
	font-weight: 600;
}

.input-group {
    flex-direction: column; 
    margin-bottom: 15px; 
}

.form-control{
    min-width: 350px !important;
    height: 50px;
    margin:5px 0 !important;
    border-radius: 0 !important;
}

.signup-notice {
	width: 350px;
	text-align: center;
	font-size: 16px;
	color: #111;
}

.signup-notice a {
	text-decoration: none;
	color: #111;
	padding-left: 20px;
}

.btn-login {
	width: 350px;
    height: 60px;
    margin-top: 10px;
    margin-right:20px;
    border-radius: 0 !important;
    border: none;
   	font-size: 25px;
   	background-color: #003567 !important;
    color: white!important;
    margin-bottom: 30px;
}

#modalOpen {
    cursor: pointer;
}

.alert {
	width: 350px !important;
}

.modal-btn-submit {
	width: 350px !important;
	padding: 0;
}