.fw-bold {
	margin-top:30px;
}

.content {
	margin-top:30px;
	margin-left:45px;
	margin-right:45px;
	font-size:14px;
}

.table {
    width: 100%;
}
.container-fluid {
    padding-right: 0 !important;
} 

.search-box {
   width: 240px;
   margin-left: 10px;
}

#memberSearch {
  width: 240px;
}

.btn-search {
    width: 50px !important;
}

h4 {
	font-size: 25px !important;
}

.form-required {
    color: red;
}

.profile-img {
  width: 34px !important;
  height: 34px !important;