.fw-bold {
	margin-top:30px;
	margin-bottom: 20px;
}

.content {
	margin-top:30px;
	margin-left:45px;
	margin-right:45px;
	font-size:14px;
}

.table {
	margin-top:20px;
	border-radius: 5px !important; 
    box-shadow: var(--box-shadow);
    overflow: hidden;
    text-align: center;
}
.container-fluid {
    padding-right: 0 !important;
} 



.table.table-bordered {
	text-align:left;
}

.table th, .table td {
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
}

.table-hover tbody tr {
    height: 50px; 
}

.table-hover td, .table-hover th {
    padding: 15px 10px;
}

thead{
   height: 45px; 
    padding: 15px 10px;
}


tr{
	height:50px;
}

td, th{
	text-align: center;
	vertical-align: middle;
}

.search-box {
   width: 240px;
   margin-left: 20px;
   border-radius: 5px;
   font-size: 22px;
   position: relative;
   line-height: 22px;
}

.search-box .form-control {
  width: 240px;
  height: 40px;
}

.search-box .search-btn {
  border: none;
  background: white;
}

.search-box .bi-search {
   position: absolute;
   right: 10px;
   top: 10px;
   font-size: 20px;
   color: #343a40;
}

h4 {
	font-size: 25px !important;
}
.form-required {
    color: red;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}