.main-container > .row {
	padding: 30px 45px 0;
}

.board-title {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}

.table-container {
	margin-top: 0 !important;
}

thead, tr, td {
	height: 42px !important;
}

.table-board-title {
	font-weight: 600;
}
.col-6, .col-5 {
	margin-right: 40px !important;
	height: 340px;
}

.dash-board {
	height: 100%;
	border: 1px solid #d9d9d9;
}

#chart {
	margin-top: 60px;
}

.project-title {
	padding: 60px 20px 10px;
	font-size: 16px;
	margin-bottom: 0;
}

.project-user {
	padding-left: 20px;	
	font-size: 28px;
}

.summary-box {
	border-radius: 8px;
	box-shadow: var(--box-shadow);
	margin: 20px 30px 20px 20px;
	border: 1px solid #d9d9d9;
	height: 130px;
	text-align: center;
	padding: 30px 10px;
}

.summary-box div {
	width: 100%
}

.summary-box div:not(:last-of-type) {
	border-right: 1px solid #d9d9d9;
}

.summary-box p {
	color: #767676;
	padding-top: 2px;
	margin-bottom: 7px;
	font-size: 18px;
}

.summary-box h3 {
	letter-spacing: 2px;
	margin-bottom: 0;
}

.notice-container {
	height: 340px;
	overflow: hidden;
}

.notice-box .btn-notice {
	background: none;
    border: none;
    font-size: 12px;
    padding-top: 12px;
}

.table-box, .col-box {
	height: 340px;
	overflow: hidden;
	overflow-y: scroll;
}

#line-chart {
	padding: 10px;
	border: 1px solid #d9d9d9;
}

.schema-filter-label {
    min-width: max-content;
    margin: 0 12px;
}

.schema-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 200px !important;
    margin-bottom: 4px;
}

.schema-table-title {
	font-weight: 600;
	font-size: 20px;
}

.form-select {
    width: 100px !important;
}

.table-row .bi-megaphone {
	color:#003567 !important;
	font-size:14px;
	font-weight:bold;
}

#noticeTitle {
	text-align:left !important;
	padding-left: 30px !important;
}