.table-list-header {
	margin: 30px 20px 20px 40px;
	font-size: 25px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.button-groupDBA {
	margin-right: 40px !important;
}

.btn-approve {
	background-color: var(--theme);
	color: white;
	border: none;
	width: 70px;
	margin-right: 5px;
}

.btn-reject {
	background-color: gray;
	color: white;
	border: none;
	width: 70px;
	margin-right: 5px;
}

.btn-reflect {
	background-color: var(--theme);
	color: white;
	border: none;
	width: 70px;
	margin-right: 5px;
}

.btn-complete{
	background-color: gray;
	color: white;
	border: none;
	width: 70px;
	margin-right: 5px;
	pointer-events: none; 
    cursor: default; 
}

.button-groupUSER {
	margin-right:40px !important;
}

.btn-reapply{
	background-color: white;
	color: var(--theme);
	border: 1px solid var(--theme);
	width: 70px;
}

.table {
	margin: 45px !important;
	width: 1350px !important;
}

/* .table-primary {
	text-align: center;
	width: 160px;
	font-weight: 600;
} */

.btn-sql {
	background-color: white;
	color: var(- -theme);
	border: 1px solid var(--theme);
	width: 65px;
}

.btn-list {
	background-color: var(--theme);
	color: white;
	border: none;
	width: 70px;
	margin-right: 60px;
}

.button-group {
	position: fixed;
	bottom: 30px;
    right: 5px; 
	z-index: 1000; 
}

#table-contents {
	padding-left: 15px;
	text-align: left;
}