.sequence-list-header {
    margin: 30px 20px 0 40px;
    font-size: 25px;
    font-weight: bold;
}
.sequence-list-filters {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;
}

.sequence-search {
    display: flex;
    margin: 0 20px 0 15px;
    align-items: center;
}

.sequence-search-label {
    min-width: 70px !important;
    text-align: right;
    align-items: center;
}

.search-form input {
    width: 200px;
}

.btn-search {
  margin-left: 15px;
  width: 60px !important;
}

.schema-filter {
    display: flex;
    align-items: center;
    min-width: 200px !important;
    margin-left: 10px;
}

.schema-filter-label {
    min-width: 100px;
    margin: 0 12px;
    text-align: right;
}

.sequence-management {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.sequence-management-header {
    height: 35px;
}

.sequence-management-title {
    font-size: 18px;
    font-weight: 600 !important;
    padding-top: 10px;
}

.modal-footer {
    border: none !important;
}

.modal-content{
	padding: 15px;
}

.sequence-create-delete-title {
    font-size: 18px;
    font-weight: 600 !important;
}

.btn-apply {
    background-color: var(--theme);
    color: white;
    border: none;
    padding: 0 10px;
}

#sequenceApply {
	margin-right: 12px !important;
}

.sequence-table {
    margin: 10px 45px;
}

.sequence-list-table {
    overflow: hidden;
    height: 580px;
    overflow-y: scroll;
}

.sequence-list {
    width: 1340px !important;
}

.sequence-create-delete-container {
    margin: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-group, .schema-input-group, .type-input-group {
    display: flex;
}

.input-label, .schema-input-label, .input-file-label, .type-input-label {
    width: 100px !important;
    margin: 10px 0 !important;
}

.form-select {
	width: 100px !important;
}

#seqName, #seqReason, #inputGroupFile, #schemaInput, #typeInput {
    margin: 10px;
}

#seqReason {
    min-height: 200px;
}

.sequence-buttons {
    padding-top: 10px;
}

#fileLink {
    margin: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-file {
    margin-left: 10px;
}